[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-vcr = "*"
black = "*"
twine = "*"
flake8 = "*"
coverage = "*"
flake8-docstrings = "*"
setuptools-scm = "*"
us = "*"
jinja2 = "*"
flake8-bugbear = "*"
pre-commit = "*"
types-requests = "*"
mypy = "*"
typing-extensions = "*"
types-retry = "*"
types-beautifulsoup4 = "*"
types-openpyxl = "*"
blacken-docs = "*"
exceptiongroup = "*"
pytest-cov = "*"
pytest-sugar = "*"
pytest-stub = "*"

[packages]
beautifulsoup4 = "*"
click = "*"
html5lib = "*"
pdfplumber = "*"
playwright = "*"
python-dotenv = "*"
pytubefix = "*"
requests = "*"
retry = "*"
tenacity = "*"
typing-extensions = "*"
urllib3 = "*"
us = "*"
yt-dlp = "*"

[pipenv]
allow_prereleases = false
