[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-vcr = "*"
black = "*"
twine = "*"
flake8 = "*"
coverage = "*"
flake8-docstrings = "*"
setuptools = "==79.0.0"
setuptools-scm = "*"
us = "*"
jinja2 = "*"
flake8-bugbear = "*"
pre-commit = "*"
types-requests = "*"
mypy = "*"
types-retry = "*"
types-beautifulsoup4 = "*"
types-openpyxl = "*"
blacken-docs = "*"
exceptiongroup = "*"
pytest-cov = "*"
pytest-sugar = "*"
pytest-stub = "*"
typing-extensions = "==4.13.2"

[packages]
click = "*"
html5lib = "*"
playwright = "*"
python-dotenv = "*"
pytubefix = "*"
requests = "*"
retry2 = "*"
tenacity = "*"
typing-extensions = "*"
urllib3 = "*"
us = "*"
cryptography = "==44.0.2"
yt-dlp = "==2025.3.25"
jellyfish = "==1.2.0"
certifi = "==2025.1.31"
pdfplumber = "==0.11.6"
beautifulsoup4 = "==4.13.3"

[pipenv]
allow_prereleases = false
